.header{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba(3, 153, 158, 0.76);
    backdrop-filter: blur(2px);
}
#header-logo{
    width: 50px;
}
a.header-menu-item:hover{
    color:black;
    transition: .5s;
}
img #logo-img{
    width: 50px;
}
.header-img{
    width: 50px;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
}


.btn-esconder{
    display: none;
    width: 40px;
}
