section.projeto{
    display:flex ;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .c3-title{
    font-weight: bold;
    color: #5f5f5f;
  }
  .c3-items{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .projeto-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .projeto-item{
    background-color: #181818;
    width: 150px;
    height: 150px;
  }
  .projeto-nome{
    padding-top: 10px;
    font-size: 20px;
    color: #5f5f5f;
    text-align: center;
  }